</section>
<div class="hero__item set-bg" data-setbg="img/hero/vulcao.jpg">
    <div class="hero__text">
        <span>As mais diversas experiências</span>
        <h2>Venha <br />conhecer o mundo</h2>
        <p>viaje conosco</p>
        <a href="#" class="primary-btn">AVENTURA</a>
    </div>
</div>
<section>
    