<!DOCTYPE html>
<html lang="zxx">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <header>
        <!-- Include the header partial -->
        <%- include('../partials/header') %>
    </header>


     <!-- Cadastro -->
     <div class="contact-form spad">
        <div class="container">
            <div class="row">
                
            </div>
            <form action="/usuarios/usuarios" method="POST">
                <div class="row">
                  <div class="col-lg-6 col-md-6">
                    <input type="text" placeholder="Seu nome" name="nome">
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <input type="email" placeholder="Email" name="email">
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <input type="password" placeholder="Senha" name="senha">
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <input type="text" placeholder="CPF" name="cpf">
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <input type="text" placeholder="Celular" name="numero_telefone">
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <input type="date" placeholder="Nascimento" name="nascimento">
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <button type="submit" class="site-btn">Cadastrar</button>
                  </div>
                </div>
              </form>
              
        </div>
    </div>
    <!--fim do cadastro -->

        <!-- Include the footer partial -->
        <%- include('../partials/footer') %>

    <%- include('../partials/jsPlugins') %>
</body>

</html