<!DOCTYPE html>
<html lang="zxx">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <header>
        <!-- Include the header partial -->
        <%- include('../partials/header') %>
    </header>

    <!-- Cadastro -->
    <div class="contact-form spad">
        <div class="container">
          <div class="row">
            
          </div>
          <form action="/experiencias/experiencias" method="POST">
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <input type="text" placeholder="Nome" name="nome">
              </div>
              <div class="col-lg-12">
                <textarea placeholder="Informações" name="informacoes"></textarea>
              </div>
              <div class="col-lg-6 col-md-6">
                <input type="number" placeholder="Preço" name="preco">
              </div>
              <div class="col-lg-6 col-md-6">
                <select name="categoria">
                  <option value="aerea">Aérea</option>
                  <option value="terrestre">Terrestre</option>
                  <option value="aquatica">Aquática</option>
                  <option value="espacial">Espacial</option>
                </select>
              </div>
              <div class="col-lg-12">
                <button type="submit" class="site-btn">Cadastrar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    <!--fim do cadastro -->

   
        <!-- Include the footer partial -->
        <%- include('../partials/footer') %>

    <%- include('../partials/jsPlugins') %>
</body>

</html>
