<!DOCTYPE html>
<html lang="zxx">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <header>
        <!-- Include the header partial -->
        <%- include('../partials/header') %>
    </header>

     <!-- Breadcrumb Section Begin -->
     <section class="breadcrumb-section set-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Suas compras</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shoping Cart Section Begin -->
    <section class="shoping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th class="shoping__product">Products</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="shoping__cart__item">
                                        <img src="img/categories/cate1.jpg" alt="">
                                        <h5>Gravidade zero</h5>
                                    </td>
                                    <td class="shoping__cart__price">
                                        $55.00
                                    </td>
                                    <td class="shoping__cart__quantity">
                                        <div class="quantity">
                                            <div class="pro-qty">
                                                <input type="text" value="1">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="shoping__cart__total">
                                        $110.00
                                    </td>
                                    <td class="shoping__cart__item__close">
                                        <span class="icon_close"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="shoping__cart__item">
                                        <img src="img/categories/cate2.jpg" alt="">
                                        <h5>Ovo Milenar</h5>
                                    </td>
                                    <td class="shoping__cart__price">
                                        $39.00
                                    </td>
                                    <td class="shoping__cart__quantity">
                                        <div class="quantity">
                                            <div class="pro-qty">
                                                <input type="text" value="1">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="shoping__cart__total">
                                        $39.99
                                    </td>
                                    <td class="shoping__cart__item__close">
                                        <span class="icon_close"></span>
                                    </td>
                                </tr>
                                <tr>
                                   <td class="shoping__cart__item">
                                        <img src="img/categories/cate3.jpg" alt="">
                                        <h5>NO FUNDO MAR</h5>
                                    </td>
                                    <td class="shoping__cart__price">
                                        $69.00
                                    </td>
                                 <td class="shoping__cart__quantity">
                                                <div class="quantity">
                                                    <div class="pro-qty">
                                                        <input type="text" value="1">
                                                    </div>
                                                </div>
                                                
                                                    <td class="shoping__cart__total">
                                                        $69.99
                                                    </td>
                                                    <td class="shoping__cart__item__close">
                                                    <span class="icon_close"></span>
                                                    </td>
                                      </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                    
                 </tr>
                
                </tbody>
                </table>
                </div>
                </div>
                
                <div class="col-lg-12">
                    <div class="shoping__cart__btns">
                        <a href="#" class="primary-btn cart-btn">CONTINUE SHOPPING</a>
                        <a href="#" class="primary-btn cart-btn cart-btn-right">
                            <span class="icon_loading"></span>
                            Upadate Cart</a>
                    </div>
                </div>
                
                <div class="col-lg-6 text-center">
                    <div class="shoping__continue">
                        <div class="container">
                        <div class="shoping__discount">
                            <h5>Discount Codes</h5>
                            <form action="center">
                                <input type="text" placeholder="Enter your coupon code">
                                <button type="submit" class="site-btn">APPLY COUPON</button>
                            </form>
                        </div>
                    </div>
                </div>
                </div>
                <div class="col-lg-6 text-center">
                    <div class="container">
                    <div class="shoping__checkout">
                        <h5>Cart Total</h5>
                            <ul>
                                <li>Subtotal <span>$454.98</span></li>
                                <li>Total <span>$454.98</span></li>
                            </ul>
                            <div"= onclick="myFunction()">
                        <a href="#" class="primary-btn"><p>PROCEED TO CHECKOUT</p></a></a>   
                            <script>
                                function myFunction() {
                                  alert('Obrigado sr(a) os seus dados foram encaminhados com sucesso');
                                }
                            </script>
                            </id>
                    </div></div>
                </div>
            </div>
        </div>
    </section></h1></div>

        <!-- Include the footer partial -->
        <%- include('../partials/footer') %>

    <%- include('../partials/jsPlugins') %>
</body>

</html>
